.recent-activity {
  position: relative;
  /* color: white; */
  /* margin-top: 30px; */
  /* width: 95%; */
  margin: auto;
}

.img1 {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
}

.img2 {
  width: 150px;
  height: 100px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
}

.activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-top: 10px;
}

.releases {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
}
