.App {
  text-align: center;
  background-color: #000;
}

::-webkit-scrollbar {
  display: none;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}